<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">

  <servlet>
    <servlet-name>testEndpoint</servlet-name>
    <servlet-class>com.kosuke.rssbot.controller.testEndpoint</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>events</servlet-name>
    <servlet-class>com.kosuke.rssbot.controller.events</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkUpdate</servlet-name>
    <servlet-class>com.kosuke.rssbot.controller.checkUpdate</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>checkUpdate</servlet-name>
    <url-pattern>/checkUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>testEndpoint</servlet-name>
    <url-pattern>/testEndpoint</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>events</servlet-name>
    <url-pattern>/events/*</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>checkUpdate</web-resource-name>
      <url-pattern>/checkUpdate</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
